.gbtn-blue{
    background-color: #008CBA; /* Green */
}
.gbtn-yellow{
    background-color: #afad4c; /* Green */
}
.gbtn-green{
    background-color: #4CAF50; /* Green */
}
.gbtn-red{
    background-color: #f44336; /* Green */
}

.gbtn-transit{
    opacity: 0.75;
    border: 2px solid black;
}

.gbtn-transit:hover{
    opacity: 1;
    transition: 0.5s;
}
